[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
django = "==5.0.4"
pillow = "==10.3.0"
sqlparse = "==0.5.0"
tzdata = "==2024.1"

[dev-packages]

[requires]
python_version = "3.11"
